<table class="table table-bordered">
  <tr>
    <td>名称</td>
    <td>平台</td>
    <td>状态</td>
    <td>创建者</td>
    <td>操作</td>
  </tr>
  <% @merchants.each do |m| %>
    <tr>
      <td><%= m.shop_name %></td>
      <td><%= m.merchant_plantform_name %></td>
      <% if m.status %>
        <td>启用</td>
      <% else %>
        <td>禁用</td>
      <% end %>
      <td><%= m.user.email %></td>
      <td>
        <button>绑定产品</button>
        <button>停用</button>
        <button>编辑</button>
        <button class="remove-merchant" data-merchant-id="<%= m.id %>" >删除</button>
      </td>
    </tr>
  <% end %>
</table>

<script type="text/javascript">
  $('.remove-merchant').click(function(){
    var r = confirm("删除后不可恢复，确定要删除吗？");
    if (r == false) { return false;}
    var $this = $(this);
    var merchantId = $(this).data('merchant-id');
    $.ajax({
      url: '/merchant/remove',
      data: {id: merchantId},
      type: 'delete',
      success: function(){
        $this.parents('tr').remove();
        alert('操作成功！');
      }
    })
  });
</script>