<a href="/merchants/export_all_account">导出所有</a>
<hr/>
<div id="account_list_div">
  <%= render 'account_list' %>
</div>
<hr/>
<%= form_tag(create_account_merchants_path, remote:true) do %>
  账号名称：<%= text_field_tag 'name' %>
  <%= submit_tag '创建' %>
<% end %>