  <% @children_product_types ||= ProductType.first_level_types %>
  <% @children_product_types.each do |child| %>
    <a href="#" class="level1Click1" data-product-type-id=<%= child.id %> data-product-type-children=<%= child.has_children? %> ><%= child.name %></a>
  <% end %>
  <%= hidden_field_tag 'final_clicked1', '', "data-clicked-time"=>'false' %>

<script type="text/javascript">
  $('.level1Click1').click(function(){
    var hasChildren = $(this).data('product-type-children');
    var productTypeText1 = $('#productTypeText1');
    var productTypeSelectValue = $('#product_select_value1');
    var oldTextValue = productTypeText1.val();
    var selectedText = $(this).text();
    var newTextValue = oldTextValue + selectedText + '/';
    var product_type_id = $(this).data('product-type-id');
    var template_type = '1';
    if( hasChildren.toString() == 'true'){
      $.ajax({
        url: '/product_types/get_children_product_types',
        data: {product_type_id: product_type_id, template_type:template_type},
        type: 'POST',
        success: function(){
          productTypeText1.val(newTextValue);
          productTypeSelectValue.attr('value', product_type_id);

          var newLink = "<a href='#' class='level2Click1 selectedLevel2Value1' data-product-type-id='"+ product_type_id +"' data-product-type-children='"+ hasChildren +"'>"+ selectedText +" </a>";
          $('.level2Click1:last').after(newLink);
          $('.level2Click1').unbind('click');
          $('.selectedLevel2Value1').unbind('click');
          $('.selectedLevel2Value1').click(function(){
            $('#final_clicked1').data('clicked-time','false');
          });
          $('.level2Click1').click(function(){
              $('.productTypeClickOK1').css('display', 'none');
              $(this).next('.level2Click1').remove();
              $(this).remove();
                var hasChildren = $(this).data('product-type-children');
                var productTypeText1 = $('#productTypeText1');
                var productTypeSelectValue = $('#product_select_value1');
                var oldTextValue = productTypeText1.val();
                var selectedText = $(this).text();
                var newTextValue = oldTextValue + selectedText + '/';
                var product_type_id = $(this).data('product-type-id');
                if( hasChildren.toString() == 'true'){
                  $.ajax({
                    url: '/product_types/get_children_product_types',
                    data: {product_type_id: product_type_id, ajax_action_from: 'level2Click', template_type:template_type},
                    type: 'POST',
                    success: function(){
                      var newTextValue = '';
                      $('#productTypeHistory1').find('.selectedLevel2Value1').each(function(){
                        newTextValue = newTextValue + $(this).text() + '/';
                      })
                      productTypeText1.val(newTextValue);
                      productTypeSelectValue.attr('value', product_type_id);
                    }
                  });
                } else if (hasChildren.toString() == 'false') {
                  var final_clicked1 = $('#final_clicked1').data('clicked-time');
                  if (final_clicked1.toString() == 'false'){
                    productTypeText1.val(newTextValue);
                    productTypeSelectValue.attr('value', product_type_id);
                    $('#final_clicked1').data('clicked-time','true');
                  } else if (final_clicked1.toString() == 'true') {
                    productTypeSelectValue.attr('value', product_type_id);
                  }
                }
          });
        }
      });
    } else if (hasChildren.toString() == 'false') {
      $('.productTypeClickOK1').css('display', 'inline');
      var final_clicked1 = $('#final_clicked1').data('clicked-time');
      if (final_clicked1.toString() == 'false'){
        productTypeText1.val(newTextValue);
        productTypeSelectValue.attr('value', product_type_id);
        $('#final_clicked1').data('clicked-time','true');
      } else if (final_clicked1.toString() == 'true') {
        productTypeSelectValue.attr('value', product_type_id);
      }
    }
    return false;
  });
</script>