  <% @children_product_types ||= ProductType.first_level_types %>
  <% @children_product_types.each do |child| %>
    <a href="#" class="level1Click" data-product-type-id=<%= child.id %> data-product-type-children=<%= child.has_children? %> ><%= child.name %></a>
  <% end %>
  <%= hidden_field_tag 'final_clicked', '', "data-clicked-time"=>'false' %>

<script type="text/javascript">
  $('.level1Click').click(function(){
    var hasChildren = $(this).data('product-type-children');
    var productTypeText = $('#productTypeText');
    var productTypeSelectValue = $('#product_select_value');
    var oldTextValue = productTypeText.val();
    var selectedText = $(this).text();
    var newTextValue = oldTextValue + selectedText + '/';
    var product_type_id = $(this).data('product-type-id');
    if( hasChildren.toString() == 'true'){
      $.ajax({
        url: '/product_types/get_children_product_types',
        data: {product_type_id: product_type_id},
        type: 'POST',
        success: function(){
          productTypeText.val(newTextValue);
          productTypeSelectValue.attr('value', product_type_id);

          var newLink = "<a href='#' class='level2Click selectedLevel2Value' data-product-type-id='"+ product_type_id +"' data-product-type-children='"+ hasChildren +"'>"+ selectedText +" </a>";
          $('.level2Click:last').after(newLink);
          $('.level2Click').unbind('click');
          $('.selectedLevel2Value').unbind('click');
          $('.selectedLevel2Value').click(function(){
            $('#final_clicked').data('clicked-time','false');
          });
          $('.level2Click').click(function(){
              $('.productTypeOK').css('display', 'none');
              $(this).next('.level2Click').remove();
              $(this).remove();
                var hasChildren = $(this).data('product-type-children');
                var productTypeText = $('#productTypeText');
                var productTypeSelectValue = $('#product_select_value');
                var oldTextValue = productTypeText.val();
                var selectedText = $(this).text();
                var newTextValue = oldTextValue + selectedText + '/';
                var product_type_id = $(this).data('product-type-id');
                if( hasChildren.toString() == 'true'){
                  $.ajax({
                    url: '/product_types/get_children_product_types',
                    data: {product_type_id: product_type_id, ajax_action_from: 'level2Click'},
                    type: 'POST',
                    success: function(){
                      var newTextValue = '';
                      $('#productTypeHistory').find('.selectedLevel2Value').each(function(){
                        newTextValue = newTextValue + $(this).text() + '/';
                      })
                      productTypeText.val(newTextValue);
                      productTypeSelectValue.attr('value', product_type_id);
                    }
                  });
                } else if (hasChildren.toString() == 'false') {
                  var final_clicked = $('#final_clicked').data('clicked-time');
                  if (final_clicked.toString() == 'false'){
                    productTypeText.val(newTextValue);
                    productTypeSelectValue.attr('value', product_type_id);
                    $('#final_clicked').data('clicked-time','true');
                  } else if (final_clicked.toString() == 'true') {
                    productTypeSelectValue.attr('value', product_type_id);
                  }
                }
          });
        }
      });
    } else if (hasChildren.toString() == 'false') {
      $('.productTypeOK').css('display', 'inline');
      var final_clicked = $('#final_clicked').data('clicked-time');
      if (final_clicked.toString() == 'false'){
        productTypeText.val(newTextValue);
        productTypeSelectValue.attr('value', product_type_id);
        $('#final_clicked').data('clicked-time','true');
      } else if (final_clicked.toString() == 'true') {
        productTypeSelectValue.attr('value', product_type_id);
      }
    }
  });
</script>