  <table class="table table-bordered">
    <tr>
      <th>店铺名称</th>
      <th>搜索词</th>
      <th>屏蔽词</th>
    </tr>
    <% @shops.each do |shop|%>
      <tr>
        <td><%= shop.name %></td>
        <td><%= shop.search_word %></td>
        <td><%= shop.filter_word %></td>
      </tr>
    <% end %>
  </table> 