<h4> 运输方式编辑： <%= @shipment_method.name %> </h4>
<div id="shipentValueList">
  <%= render 'shipment_value_list' %>
</div>
<%= hidden_field_tag 'shipmentIdField', @shipment_id %>

<hr/>
<button class="addLine" >添加行</button>
<%= link_to '返回', shipments_path %>

<script type="text/javascript">


  $('.addLine').click(function(){
    var oldLineValue = parseFloat($('.shipment_value_tr:last').find('.inputValue:first').val());
    var newLineValue = 0;
    if (isNaN(oldLineValue)) {
      newLineValue = 0.5;
    } else {
      newLineValue = oldLineValue;
      newLineValue = newLineValue + 0.5;
    }
    var newLine = "<tr class='shipment_value_tr'><th><input class='inputValue' style='width:50px;' type='text' value='"+ newLineValue +"' /></th><td><input class='inputValue' style='width:50px;' type='text' /></td><td><input class='inputValue' style='width:50px;' type='text' /></td><td><input class='inputValue' style='width:50px;' type='text' /></td><td><input class='inputValue' style='width:50px;' type='text' /></td><td><input class='inputValue' style='width:50px;' type='text' /></td><td><input class='inputValue' style='width:50px;' type='text' /></td><td><input class='inputValue' style='width:50px;' type='text' /></td><td><button class='saveChange'>保存</button></td></tr>"
    $('.shipments_table tr:last').after(newLine);
    $('.saveChange').click(function(){
      var shipmentMethodValues = '';
      $(this).parents('tr').find('.inputValue').each(function(){
        shipmentMethodValues = shipmentMethodValues + $(this).val() + ',';
      });
      var id = $(this).val();
      var shipment_method_id = $('#shipmentIdField').val();

      $.ajax({
        url: '/shipments/save_shipment_value',
        type: 'POST',
        data: {shipment_method_value: shipmentMethodValues, id: id, shipment_method_id: shipment_method_id},
        success: function(){

        }
      })
    });

    return false;
  });
</script>