<hr/>
<div style="height:200px;">
  <h2 style="text-align:center; color:black; padding-top:60px;">
    <%= link_to 'Amazon Platform', root_path %>
  </h2>
  <p style="text-align:center; color:black;">
    Copyright©2016 叠威 版权所有 粤ICP备16025483号-1
  </p>
</div>